{% extends 'management/base.html' %}
{% load staticfiles %}

{% block title %} Ongoing Transactions | LaundryBear {% endblock %}


{% block body %}

    <div class="row">
        <div class="large-2 columns"></div>
        <div class="large-8 large-offset-2 columns">
            <h3 style="text-align:center">Ongoing Transactions</h3>
                <table id='clickytable' style="margin:auto">
                    <thead>
                        <th>Name of Client</th>
                        <th>Laundry Shop</th>
                        <th>Date Requested</th>
                        <th>Time Requested</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                    {% for transaction in ongoing_transaction_list %}
                    {% include "management/transactions/partials/ongoing_transaction_row.html" %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="large-2 columns"></div>
    </div>


{% endblock %}

{% block javascripts %}
<script src="{% static "management/js/done-transaction.js" %}"></script>
{% endblock %}