{% extends 'management/base.html' %}

{% block title %} Pending Requested Transactions | LaundryBear {% endblock %}


{% block body %}

    <div class="row">
        <div class="large-2 columns"></div>
        <div class="large-8 large-offset-2 columns">
            <h3 style="text-align:center">Pending Requested Transactions</h3>
                <table style="margin:auto">
                    <thead>
                        <th>Name of Client</th>
                        <th>Laundry Shop</th>
                        <th>Date Requested</th>
                        <th>Time Requested</th>
                    </thead>
                    <tbody>
                    {% for transaction in pending_transaction_list %}
                    {% include "management/shop/partials/pending_transaction_row.html" %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="large-2 columns"></div>
    </div>


{% endblock %}
