{% extends 'management/base.html' %}

{% block title %} Requested Transactions | LaundryBear {% endblock %}


{% block body %}

    <div class="row">
        <div class="large-2 columns"></div>
        <div class="large-8 large-offset-2 columns">
            <h3 style="text-align:center">Requested Transactions</h3>
                <table style="margin:auto">
                    <thead>
                        <th>Id</th>
                        <th>Date Requested</th>
                        <th>Time Requested</th>
                        <th>Details</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <!-partial cookies shizz? i dont really know...-->
                    </tbody>
                </table>
        </div>
        <div class="large-2 columns"></div>
    </div>


{% endblock %}
