{% extends 'management/base.html' %}
{% load staticfiles %}
{% block title %}View Clients | LaundryBear{% endblock %}

{% block body %}
<form method="get">
    {%csrf_token%}
    <div class="row">
        <div class="large-12 columns">
            <dl id="filter" class="sub-nav inline">
                <dt>Filter:</dt>
                <dd{% if query_type == "name" %} class="active"{% endif %}><a href="#">Name</a></dd>
                <dd{% if query_type == "city" %} class="active"{% endif %}><a href="#">City</a></dd>
                <dd{% if query_type == "barangay" %} class="active"{% endif %}><a href="#">Barangay</a></dd>
                <dd{% if query_type == "province" %} class="active"{% endif %}><a href="#">Province</a></dd>
            </dl>
            <div class="row collapse">
                <div class="small-2 columns">
                </div>
                <div class="small-7 small-offset-2 columns">
                    <input name="{{ query_type }}" id="search" type="text" placeholder="Search Client">
                </div>
                <div class="small-1 columns">
                    <button type="submit" class="button postfix">Go</button>
                </div>
                <div class="small-2 columns">
                </div>
            </div>
        </div>
    </div>
</form>
<br>

<table style="margin:auto">
    <thead>
    <tr>
        <th width="200">Name</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for profile in client_list %}
    {% include "management/client/clients_row.html" %}
    {% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="small-6 small-centered columns">
        <br>
        {% if page_obj.has_previous %}
        <a class="button left" href="?page={{ page_obj.previous_page_number }}">Previous <i class="fi-arrow-left"></i></a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="button right" href="?page={{ page_obj.next_page_number }}">Next <i class="fi-arrow-right"></i></a>
        {% endif %}

    </div>
</div>
{% endblock %}
