{% extends 'management/base.html' %}
{% load staticfiles %}

{% block title %} Profile | LaundryBear {% endblock %}

{%block body%}
<div class="large-6 large-centered columns">
    <div><H5 align="right">Administration Settings</H5></div>
    <h3><b>Administrator: {{user.username}}</h3>
    <ul class="accordion" data-accordion>

        <li class="accordion-navigation">
            <a href="#panel2a">Edit Username</a>
            <div id="panel2a" class="content">
                <div class="login-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <label class="title"><b>Edit Username</b></label>
                                        <label>{{ usernameform.username }}</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="large-12 large-centered columns">
                                        <button type="submit" class="success button round">Change Username</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="accordion-navigation">
            <a href="#panel3a">Change Password</a>
            <div id="panel3a" class="content">
                <div class="login-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <label><b>Old Password</b> {{ passwordform.old_password }}</label>
                                        <label><b>New Password</b> {{ passwordform.new_password1 }}</label>
                                        <label><b>Re-type New Password</b> {{ passwordform.new_password2 }}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 large-centered columns">
                                        <button type="submit" class="success button round">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="accordion-navigation">
            <a href="#panel4a">Change Service Rates</a>
            <div id="panel4a" class="content">
                <div class="login-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <label class="title"><b>Delivery Fee:</b></label>
                                        {{ fees_form.delivery_fee }}
                                        <label class="title"><b>Service Charge:</b></label>
                                        {{ fees_form.service_charge }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 large-centered columns">
                                        <input type="submit" class="radius success button" value="Save New Rate" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock %}
