{%extends 'management/base.html'%}
{% load staticfiles %}


    {% block title %}Add Laundry Shop | LaundryBear{% endblock %}

{%block body%}
      <a href="javascript:history.go(-1);" class="success button tiny">Back</a>

      <div class="row">
      <div class="large-2  columns "></div>
      <div class="large-8 large-offset-2 columns">
        <div class="panel">
          <h3 align="center">Add Laundry Shop</h3>
          <!--forms-->
          <form method="post">
          {% csrf_token %}
              <div class="row">
                <div class="large-8 columns">
                  <label>Name
                    {{form.name}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Province
                    {{form.province}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>City
                    {{form.city}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Barangay
                    {{form.barangay}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Street
                    {{form.street}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Building
                    {{form.building}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Contact number
                    {{form.contact_number}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Email
                    {{form.email}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Website
                    {{form.website}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Hours Open
                    {{form.hours_open}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Days Open
                    {{form.days_open}}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Rating
                    {{form.ratings}}
                  </label>
                </div>
              </div>
              <hr/>

              <h4>Services</h4>
              <a href="#" data-reveal-id="firstModal" class="button">Add Service</a>
              <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
                <h2 id="firstModalTitle">Service</h2>

                <div class="row">
                  <div class="large-8 columns">
                    <label>Service Name:
                      <input type="text"/>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-8 columns">
                    <label>Description:
                      <input type="text"/>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-8 columns">
                    <label>Price:
                      <input type="text"/>
                    </label>
                  </div>
                </div>

                <a href="#" class="button">Save</a>

                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
              <hr/>
              <button type="submit" class="button small">Save</button>
              <a href="#" class="warning button small">Cancel</a>


          </form>

        </div>
      </div>
      <div class="large-2 columns"></div>
    </div>

  {% endblock %}
