{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Laundry Shop</title>
    <link rel="stylesheet" href="{% static "LaundryBear/css/foundation.min.css" %}"/>
    <link rel="stylesheet" href="{% static "management/css/app.css" %}"/>
  </head>
  <body>
    <div id="header">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="#">
                <img id ="logo" src="{% static "management/icons/headlogo.png" %}" />
                <img id="writtenlogo" src="{% static "management/icons/written2.png" %}" />
              </a>
            </h1>
          </li>
        </ul>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Admin</a>
              <ul class="dropdown">
                <li><a href="#">Profile</a></li>
                <li class="active"><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div id="body">
      <a href="viewlaundryshops.html" class="success button tiny">Back</a>
      <div class="row">
      <div class="large-2  columns "></div>
      <div class="large-8 large-offset-2 columns">
        <div class="panel">
          <h3 align="center">Add Laundry Shop</h3>
          <!--forms-->
          <form method="post">
            {% csrf_token %}
              <div class="row">
                <div class="large-8 columns">
                  <label>Name
                    {{ form.name }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Province
                    {{ form.province }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>City
                    {{ form.city }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Barangay
                    {{ form.barangay }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Street
                    {{ form.street }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Building
                    {{ form.building }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Contact number
                    {{ form.contact_number }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Email
                    {{ form.email }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Website
                    {{ form.website }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Hours Open
                    {{ form.hours_open }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Days Open
                    {{ form.days_open }}
                  </label>
                </div>
              </div>
              <hr/>

              <h4>Services</h4>
              <a href="#" data-reveal-id="firstModal" class="button">Add Service</a>
              <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
                <iframe src="{% url "management:add-service" %}" id="add-service-frame" scrolling="no"></iframe>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
              <hr/>
              <a href="#" class="button small">Save</a>
              <a href="#" class="warning button small">Cancel</a>
          </form>
        </div>
      </div>
      <div class="large-2 columns"></div>
    </div>

  </div>
    <div id="footer">

    </div>
    <script src="{% static "LaundryBear/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "LaundryBear/js/vendor/jquery.js" %}"></script>
    <script src="{% static "LaundryBear/js/vendor/fastclick.js" %}"></script>
    <script src="{% static "LaundryBear/js/foundation.min.js" %}"></script>
    <script src="{% static "management/js/app.js" %}"></script>
  </body>
</html>
