{%extends 'management/base.html'%}
{% load staticfiles %}

    {% block title %}Add Laundry Shop | LaundryBear{% endblock %}

{%block body%}
      <a href="javascript:history.go(-1);" class="success button tiny">Back</a>
      <div class="row">
      <div class="large-2  columns "></div>
      <div class="large-8 large-offset-2 columns">
        <div class="panel">
          <h3 align="center">Add Laundry Shop</h3>
          <!--forms-->
          <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="large-8 columns">
                  <label>Name
                    {{ form.name }}
                    {{ form.name.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Province
                    {{ form.province }}
                    {{ form.province.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>City
                    {{ form.city }}
                    {{ form.city.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Barangay
                    {{ form.barangay }}
                    {{ form.barangay.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Street
                    {{ form.street }}
                    {{ form.street.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Building
                    {{ form.building }}
                    {{ form.building.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Contact number
                    {{ form.contact_number }}
                    {{ form.contact_number.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Email
                    {{ form.email }}
                    {{ form.email.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Website
                    {{ form.website }}
                    {{ form.website.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Hours Open
                    {{ form.hours_open }}
                    {{ form.hours_open.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Days Open
                    {{ form.days_open }}
                    {{ form.days_open.errors }}
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Rating
					  <input type="number" min="1" max="5" name="paws" />
                  </label>
                </div>
              </div>

              <hr/>

              <h4>Services</h4>
              <table style="margin:auto">
                <thead>
                  <tr>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>


              <a href="#" data-reveal-id="firstModal" class="button">Add Service</a>
              <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
                <h2 id="firstModalTitle">Service</h2>
                  <div class="row">
                    <div class="large-8 columns">
                      <label>Service Name:
                        <button id="selected" href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
                        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                          {%for service in service_list%}
                          <option value="{{ service.name }}">{{ service.name }}</option>
                          {% endfor %}
                        </ul>

                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-8 columns">
                      <label>Price:
                        <input type="text"/>
                      </label>
                    </div>
                  </div>

                  <button type="submit" class="button">Save</button>

                  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

              </div>

              <hr/>
              <button type="submit" class="button small">Save</button>
              <a href="#" class="warning button small">Cancel</a>

          </form>

        </div>
      </div>
      <div class="large-2 columns"></div>
    </div>

  {% endblock %}
