{%extends 'management/base.html'%}
{% load staticfiles %}

{% block title %}Edit Service | LaundryBear{% endblock %}

{%block body%}
<div class="row">
    <div class="large-8 large-offset-2 columns">
            <h3 align="center"><strong>Edit Service</strong></h3>
        
            <!--forms-->
            <form method="post">
                {% csrf_token %}
                <div id="contain">
                <div id="contained" class="large-12 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <label>Name
                            <div>
                                <span id="required" class="warning label right">Required field</span>
                                {{ form.name }}
                                {{ form.name.errors }}
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Description
                            <div>
                                <span id="required" class="warning label right">Required field</span>
                                {{ form.description }}
                                {{ form.description.errors }}
                            </div>
                        </label>
                    </div>
                </div>
                <div align="center">
                    <button type="submit" class="button small" id="save-button">Save</button>
                    <a href="javascript:history.go(-1);" class="warning button small">Cancel</a>
                </div>
            </div>
            </div>
            </form>
</div>

{% endblock %}

{% block javascripts %}
<script src="{% static "management/js/services.js" %}"></script>
  {% endblock %}
