<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../../static/management/foundation-5.5.3/css/foundation.css" />
<link rel="stylesheet" href="../../../static/management/stylesheets/control.css"/>
<script src="../../../static/management/foundation-5.5.3/js/vendor/modernizr.js"></script>
<title>Laundry Bear</title>
</head>

<body>
       
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
             
            <li class="name">
              <h1>
                <a href="Laundry Bear.html">
                  <img id="logo" src="../../../static/management/icons/headlogo.png"/>
                  <img id="writtenlogo" src="../../../static/management/icons/written2.png" />
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>
       
          <section class="top-bar-section">
             
            <ul class="right">
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#">Manage Shops</a>
                <ul class="dropdown">
                  <li><a href="addlaundryshop.html">Add Shop</a></li>
                  <li><a href="#">Delete Shop</a></li>
                  <li><a href="editlaundryshop.html">Update Shop Info</a></li>
                  <li class="divider"></li>
                  <li><a href="viewlaundryshops.html">See all →</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li><a href="#">View Accounts</a></li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#">Administrator</a>
                <ul class="dropdown">
                  <li><a href="#">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sign Out →</a></li>
                </ul>
              </li>
            </ul>
          </section>
        </nav>
       
         
       
        <div class="row">
          <div class="large-12 columns">
       

          </div>

            <div class="row">
              <div class="large-12 columns show-for-small">
       
                <img src="http://placehold.it/1200x700&text=Mobile Header">
       
              </div>
            </div><br>
       
           
            <div class="row"></div>
       
            <div class="row">
              <div class="large-12 columns">
                <div class="row">
                   
                  <div class="large-4 small-6 columns">
       
                    <h3 id="rad">Recently Added Shops</h3><hr>
       
                    <div class="row">
                      <div class="large-1 column">
                        <img src="../../../static/management/icons/steps.png">
                      </div>
       
                      <div class="large-9 columns">
                       <span data-tooltip aria-haspopup="true" class="has-tip" title="Added three days ago"> <h5><a href="#">Kosh Kosh</a></h5></span>
                        <h6 class="subheader show-for-small">Doors at 00:00pm</h6>
                      </div>
                    </div><hr>
       
                    <div class="hide-for-small">
                      <div class="row">
                        <div class="large-1 column">
                          <img src="../../../static/management/icons/steps.png">
                        </div>
       
                        <div class="large-9 columns">
                          <h5 class="subheader"><a href="#">Mang Laba</a></h5>
                        </div>
                      </div><hr>
       
                      <div class="row">
                        <div class="large-1 column">
                          <img src="../../../static/management/icons/steps.png">
                        </div>
       
                        <div class="large-9 columns">
                          <h5 class="subheader"><a href="#">Lavada Queen</a></h5>
                        </div>
                      </div><hr>
       
                      <div class="row">
                        <div class="large-1 column">
                          <img src="../../../static/management/icons/steps.png">
                        </div>

                      <div class="large-9 columns">
                          <h5 class="subheader"><a href="#">Benny's</a></h5>
                        </div>
                      </div><hr>



                      <div class="row">
                        <div class="large-1 column">
                        </div>

                        <div class="panel callout raius">
                          <h6>Most Requested Shop</h5>
                          <p>Mang Laba</p>
                          <p>Rating: <img src="../../../static/management/icons/star.png"></p>
                        </div>
                      </div>
                    </div>
                  </div>  
                        
       
                   
       
                  <div class="large-4 small-12 columns">
       
                    <h2 id="requests">Requests</h2><hr>
                    <div id="subheader" class="panel callout radius">
                      <h5><a href="#">Feed</a></h5>
       
                      <p class="subheader">
                        1. Diana Mana: Request to KoshKosh<br><a href="#">View details</a>
                        <br>2. Arnold Kol: Request to Mang Laba<br><a href="#">View details</a>
                        <br>3. Adriana Lima: Request to Lavada Queen<br><a href="#">View details</a>
                      </p>
                      <p class="divider"></p>
                      <h6><a href="#">View All »</a></h6>
                    </div>
       
                    <div id="ufd" class="panel hide-for-small">
                      <h5 id="ufr"><a href="#">Unfulfilled Requests »</a></h5>
                    </div>
       
                    <div id="vt" class="panel hide-for-small">
                      <h5><a href="#">View Transactions »</a></h5>
                    </div>
       
                  </div>
       
                   
       
                </div>
              </div>
            </div>
       
           
            
       
            <footer class="row">
              <div class="large-12 columns"><hr>
                  <div class="row">
       
                    <div class="large-6 columns">
                        <p>Laundry Bear 2015</p>
                    </div>
       
                    <!--<div class="large-6 small-12 columns">
                        <ul class="inline-list right">
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                          <li><a href="#">Link 4</a></li>
                        </ul>
                    </div><-->
       
                  </div>
              </div>
            </footer>
       
           
       
          </div>
        </div>
       
       
    

<script src="../../../static/management/foundation-5.5.3/js/vendor/jquery.js"></script>
<script src="../../../static/management/foundation-5.5.3/js/foundation.min.js"></script>
<script src="/f5/bower_components/jquery/dist/jquery.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>
