<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../../../LaundryBear/static/LaundryBear/css/foundation.css" />
<link rel="stylesheet" href="../../../static/management/css/signupcontrol.css" />
<script src="../../../../LaundryBear/static/LaundryBear/js/vendor/modernizr.js"></script>
<title>Laundry Bear | Sign Up</title>
</head>
<body>
<div class="row" class="text-center">
    <div class="large-6 columns">
      <div class="signup-panel">
        <p class="welcome">Laundry Bear</p>
        <form>
        <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="Last Name">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="First Name">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="Contact Number">
            </div>
          </div><hr />
          <div class="row collapse">
          <h4>Address</h4>
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="Barangay">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="City">
            </div>
          </div><div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="Province">
            </div>
          </div><hr />
          <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <input type="text" placeholder="Email">
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <input type="text" placeholder="Password">
            </div>
          </div>
        </form>
        <a href="#" class="button ">Sign Up! </a>
         <p>Already have an account? <a href="usersignin.html">Login here </a></p>
      </div>
    </div>
   </div>
<script src="../../../../LaundryBear/static/LaundryBear/js/vendor/jquery.js"></script>
<script src="../../../../LaundryBear/static/LaundryBear/js/foundation.min.js"></script>
</body>
</html>
