{% extends 'management/base.html' %}
{% load staticfiles %}
{% block title %}View Laundry Shops | LaundryBear{% endblock %}

{% block body %}
    <a href="{% url "management:menu"%}" class="success button tiny">Back</a>
          <table style="margin:auto">
          <thead>
            <tr>
              <th width="200">Name</th>
              <th>Address</th>
              <th>Rating</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="#" data-reveal-id="shopmodal">Kosh Kosh</a>
                <div id="shopmodal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                  <table style="margin:auto">
                    <thead>
                      <tr>
                        <th width="200">Name</th>
                        <th width="500">Address</th>
                        <th width="150">Contact Information</th>
                        <th width="150">Cost per Kilo</th>
                        <th>Opens</th>
                        <th>Closes</th>
                        <th>Operating Hours</th>
                        <th>Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        <td>Kosh Kosh</td>
                        <td>Gori Building, Gorordo, Lahug, Cebu City, Cebu</td>
                        <td>09091182132</td>
                        <td>Php 35.00</td>
                        <td>7:00 am</td>
                        <td>8:00 pm</td>
                        <td>13 hours</td>
                        <td>koshkoshinmoako@labada.com</td>
                      </tbody>
                  </table>
                  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
              </td>
              <td>Gori Building, Gorordo, Lahug, Cebu City, Cebu</td>
              <td><img src="{% static "management/icons/star.png" %}" /></td>
              <td>
                <a href="#" class="button secondary tiny">Edit</a>
                <a href="#" class="button secondary tiny">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
    {% endblock %}
    {% block footer %}
      <div class="row">
         <div class="large-12 columns">
           <div class="row collapse">
             <div class="small-2 columns">
             </div>
             <div class="small-7 small-offset-2 columns">
               <input type="text" placeholder="Search Laundry Shop">
             </div>
             <div class="small-1 columns">
               <a href="#" class="button postfix">Go</a>
             </div>
             <div class="small-2 columns">
             </div>
           </div>
         </div>
       </div>
       <br>
       <div>
         <dl class="sub-nav">
           <dt>Filter:</dt>
           <dd class="active"><a href="#">All</a></dd>
           <dd><a href="#">City</a></dd>
           <dd><a href="#">Province</a></dd>
           <dd width="100"></dd>
         </dl>
      </div>
  {% endblock %}
