{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>View Laundry Shops</title>
    <!--change this later to django template tags-->
    <link rel="stylesheet" href="{% static "LaundryBear/css/foundation.css" %}"/>
    <link rel="stylesheet" href="{% static "management/css/app.css" %}"/>
  </head>
  <body>
    <div id="header">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="{% url "management:menu" %}">
                  <img id ="logo" src="{% static "management/icons/headlogo.png" %}" />
                  <img id="writtenlogo" src="{% static "management/icons/written2.png" %}" />
                </a>
              </h1>
            </li>
          </ul>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span><br></span></a></li>
          <section class="top-bar-section">
            <!-- Right Nav Section  -->
            <ul class="right">
              <li class="has-dropdown">
                <a href="#">Admin</a>
                <ul class="dropdown">
                  <li><a href="#">Profile</a></li>
                  <li class="active"><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </section>
        </nav>
    </div>

    <div id="body">


    <a href="#" class="success button tiny">Back</a>



          <table style="margin:auto">
          <thead>
            <tr>
              <th width="200">Name</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for shop in shop_list %}
            {% include "management/shop/partials/laundry_shop_list_row.html" %}
            {% endfor %}
          </tbody>
        </table>

    </div>
    <div id="footer">
      <div class="row">
         <div class="large-12 columns">
           <div class="row collapse">
             <div class="small-6 columns">
               <input type="text" placeholder="Search Laundry Shop">
             </div>
             <div class="small-2 columns">
               <a href="#" class="button postfix">Go</a>
             </div>
             <div class="small-2 columns">
             </div>
             <div class="small-2 columns">
               <a href="addlaundryshop.html" class="button small">Add Laundry Shop</a>
             </div>
           </div>
         </div>
       </div>
       <br>
       <div>
         <dl class="sub-nav">
           <dt>Filter:</dt>
           <dd class="active"><a href="#">All</a></dd>
           <dd><a href="#">City</a></dd>
           <dd><a href="#">Province</a></dd>
           <dd width="100"></dd>
         </dl>
      </div>
    </div>
    <script src="{% static "LaundryBear/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "LaundryBear/js/vendor/jquery.js" %}"></script>
    <script src="{% static "LaundryBear/js/vendor/fastclick.js" %}"></script>
    <script src="{% static "LaundryBear/js/foundation.min.js" %}"></script>
    <script src="{% static "management/js/app.js" %}"></script>
  </body>
</html>
