<!--{% addlaundryshop extends base.html%}-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Laundry Shop</title>
    <link rel="stylesheet" href="../../../static/management/foundation-5.5.3/css/foundation.css"/>
    <link rel="stylesheet" href="../../../static/management/stylesheets/app.css"/>
  </head>
  <body>
    <div id="header">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Laundry Bear</a></h1>
          </li>
        </ul>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Admin</a>
              <ul class="dropdown">
                <li><a href="#">Profile</a></li>
                <li class="active"><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div id="body">

      <div class="row">
      <div class="large-2  columns "></div>
      <div class="large-8 large-offset-2 columns">
        <div class="panel">
          <h3 align="center">Add Laundry Shop</h3>
          <!--forms-->
          <form method="post">
              <div class="row">
                <div class="large-8 columns">
                  <label>Name
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Province
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>City
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Barangay
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Street
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Building
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Contact number
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Email
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Website
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Hours Open
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Days Open
                    <input type="text"/>
                  </label>
                </div>
              </div>

          </form>

        </div>
      </div>
      <div class="large-2 columns"></div>
    </div>

  </div>
    <div id="footer">

    </div>

    <script src="../../../static/management/foundation-5.5.3/js/foundation.min.js"/>
  </body>
</html>
