<!--{% editlaundryshop extends base.html%}-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Laundry Shop</title>
    <link rel="stylesheet" href="../../../static/management/foundation-5.5.3/css/foundation.css"/>
    <link rel="stylesheet" href="../../../static/management/stylesheets/app.css"/>
  </head>
  <body>
    <div id="header">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Laundry Bear</a></h1>
          </li>
        </ul>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Admin</a>
              <ul class="dropdown">
                <li><a href="#">Profile</a></li>
                <li class="active"><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div id="body">
      <a href="viewlaundryshops.html" class="success button tiny">Back</a>
      <div class="row">
      <div class="large-2  columns "></div>
      <div class="large-8 large-offset-2 columns">
        <div class="panel">
          <h3 align="center">Edit Laundry Shop</h3>
          <!--forms-->
          <form method="post">
              <div class="row">
                <div class="large-8 columns">
                  <label>Name
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Province
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>City
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Barangay
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Street
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Building
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Contact number
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Email
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Website
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Hours Open
                    <input type="text"/>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="large-8 columns">
                  <label>Days Open
                    <input type="text"/>
                  </label>
                </div>
              </div>
              <hr/>
              <h4>Services</h4>
              <table style="margin:auto">
              <thead>
                <tr>
                  <th width="200">Service Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Wash, Dry, Fold</td>
                  <td>Regular wash dry and fold, can be finished after 2 days</td>
                  <td>P25/Kilo</td>
                  <td>
                    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="true" class="button secondary dropdown"></button><br>
                      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                        <li><a href="editlaundryshop.html">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                      </ul>
                  </td>
                </tr>
              </tbody>
              </table>

              <a href="#" data-reveal-id="firstModal" class="button">Add Service</a>
              <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
                <h2 id="firstModalTitle">Service</h2>

                <div class="row">
                  <div class="large-8 columns">
                    <label>Service Name:
                      <input type="text"/>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-8 columns">
                    <label>Description:
                      <input type="text"/>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-8 columns">
                    <label>Price:
                      <input type="text"/>
                    </label>
                  </div>
                </div>

                <a href="#" class="button small">Save</a>

                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
              <hr>
              <a href="#" class="button small">Save</a>
              <a href="#" class="warning button small">Cancel</a>

          </form>

        </div>
      </div>
      <div class="large-2 columns"></div>
    </div>

  </div>
    <div id="footer">

    </div>

    <script src="../../../static/management/foundation-5.5.3/js/vendor/modernizr.js"></script>
    <script src="../../../static/management/foundation-5.5.3/js/vendor/jquery.js"></script>
    <script src="../../../static/management/foundation-5.5.3/js/vendor/fastclick.js"></script>
    <script src="../../../static/management/foundation-5.5.3/js/foundation.min.js"></script>
    <script src="../../../static/management/javascripts/app.js"></script>
  </body>
</html>
