<!DOCTYPE html>
<!--{% laundryshops extends base.html %}-->
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <!--change this later to django template tags-->
    <link rel="stylesheet" href="../../../static/management/foundation-5.5.3/css/foundation.css"/>
    <link rel="stylesheet" href="../../../static/management/stylesheets/app.css"/>
  </head>
  <body>
<div id="header">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Laundry Bear</a></h1>
        </li>
      </ul>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

      <section class="top-bar-section">
        <!-- Right Nav Section  -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Admin</a>
            <ul class="dropdown">
              <li><a href="#">Profile</a></li>
              <li class="active"><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
</div>

<div id="body">
      <table>
      <thead>
        <tr>
          <th width="200">Name</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Kosh Kosh</td>
          <td>Gori Building, Gorordo, Lahug, Cebu City, Cebu</td>
          <td>
            <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
            <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Delete</a></li
            </ul>

          </td>
        </tr>
      </tbody>
    </table>
</div>
<div id="footer">
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active"><a href="#">All</a></dd>
      <dd><a href="#">Active</a></dd>
      <dd><a href="#">Pending</a></dd>
      <dd class="hide-for-small-only"><a href="#">Suspended</a></dd>
    </dl>


    <div class="icon-bar four-up">
    <a class="item">
    <label>Add Laundry Shop</label>
    </a>
    <a class="item">
    <label>Edit Laundry Shop</label>
    </a>
    <a class="item">
    <label>Delete Laundry Shop</label>
    </a>
    <a class="item">
    <label>Update Laundry Shop</label>
    </a>
    </div>
</div>


  <script src="../../../static/management/foundation-5.5.3/js/foundation.min.js"/>
  </body>
  <footer class="foot">

  </footer>
</html>
