{% extends 'client/base.html' %} {% load staticfiles %} {% block stylesheets %}
<link rel="stylesheet" href="{% static "client/css/selectshopcontrol.css" %}" />
<link rel="stylesheet" href="{% static "client/css/viewcontrol.css" %}" />
<link rel="stylesheet" href="{% static "LaundryBear/css/normalize.css" %}" />
<link rel="stylesheet" href="{% static "LaundryBear/reveal/reveal.css" %}" /> {% endblock %} {% block title %}Laundry Bear | Request {% endblock %} {% block body %}
<section class="services">
    <div class="row">
        <div class="small-12 large-10 columns small-centered">
            <h2 style="text-align:center"> {{ shop.name }} </h2>
            <br>
            <div class="panel">
                <div class="row">
                    <div class="small-12 large-10 columns small-centered">
                        <div class="paw-container" style="width: {% widthratio shop.average_rating 5 150 %}px;"><img src="{% static "management/icons/star.png" %}" /></div>
                    </div>
                </div>
                <p><strong>Location:</strong> {{ shop.location }} </p>
                <p><strong>Contact number: </strong> {{ shop.contact_number}}</p>
                <p><strong>Days Open:</strong> {{shop.days_open}}, {{ shop.hours_open }}</p>
                {% if shop.email %}
                <p><strong>Email:</strong> {{ shop.email}} </p>
                {% else %} {% endif %}
            </div>
        </div>
    </div>
    <hr>
   
    <br>
    <form class="custom">
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="large-3 columns"></div>
                    <div class="large-6 large-offset-3 columns">
                        <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="secondary button dropdown expand">Choose Service</button>
                        <br>
                        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                            {% for service in service_list %}
                            <li value="{{ service.pk }}"><a href="#" class="reveal-modal-button" data-reveal-id="servicemodal{{ service.pk }}">{{ service.service.name }}</a></li>
                            <!--this is the modal... -->
                            <div id="servicemodal{{ service.pk }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                                <h4>{{ service.service.name }}</h4>
                                <p>Price: {{ service.price }} pesos per kilo </p>
                                <p>Description: {{ service.service.description}} </p>
                                Input number of clothes: <input type="number" min="1" />
								<a data-servicename="{{ service.service.name }}" data-price-per-kilo="{{ service.price }}" data-pk="{{ service.pk }}" class="button right add-to-basket"> Add to Basket </a>
                                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                            </div>
                            <!--yeeaaahh-->
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="large-3 columns">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<h3 style="text-align:center"> My Laundry Basket </h3>
<table align="center">
    <thead>
        <tr>
            <th width="200">Service</th>
            <th>Number of Items</th>
            <th>Estimated Price</th>
            <th width="275" align="center">Actions</th>
        </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>
<template id="row-template">
	<tr data-price="__price__">
		<td>__servicename__</td>
		<td>
			__pieces__
		</td>
		<td align="center">__price__</td>
		<td>
			<ul class="button-group round">
				<li><a href="#" class="button info" data-reveal-id="servicemodal__pk__" data-pieces="__pieces__">Edit</a></li>
				<li><a href="#" class="button alert">Delete</a></li>
			</ul>
		</td>
	</tr>
</template>
<div class="row" align="center">
    <div class="large-2 small-12 columns expand" align="left">
    </div>
    <div class="large-10 small-12" align="center">
        <span class="info label">Total:</span>
        <p><strong id="total-price">0</strong></p>
    </div>
    <div class="large-12 small-2 columns expand">
        <a href="{% url "client:view-shops" %}" class="button left">Back</a>
        <a href="#" class="button success right">Request</a>
    </div>
</div>
{% endblock %}
