{% extends 'client/base.html' %}
{% load staticfiles %}
{% block stylesheets %}

<link rel="stylesheet" href="{% static "client/css/selectshopcontrol.css" %}" />
<link rel="stylesheet" href="{% static "client/css/viewcontrol.css" %}" />
<link rel="stylesheet" href="{% static "LaundryBear/css/normalize.css" %}" />
<link rel="stylesheet" href="{% static "LaundryBear/reveal/reveal.css" %}" />


{% endblock %}

{% block title %}Laundry Bear | Request {% endblock %}


{% block body %}

<section class="services">
  <div class="row">
    <div class="small-12 large-10 columns small-centered">
      <h2> {{ shop.name }} </h2><br>
       <table style="margin:auto">
        <thead>
          <tr>
            <th width="200">Name</th>
            <th width="500">Address</th>
            <th width="150">Contact Information</th>
            <th>Rating</th>
            <th>Operating Hours</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ shop.name }}</td>
            <td>{{ shop.location }}</td>
            <td>{{ shop.contact_number }}</td>
            <td><div class="paw-container" style="width: {% widthratio shop.average_rating 5 150 %}px;"><img src="{% static "management/icons/star.png" %}" /></div></td>
            <td>{{ shop.days_open }}, {{ shop.hours_open }}</td>
            <td>{{ shop.email }}</td>
        </tbody>
      </table>


 <br>
      <form class="custom">
        <div class="row">
          <div class="large-6 small-12 columns">
            <label>
              Select Service
            </label>
              <select>
              <!-- place services of this shop here -->
              {% for service in shop.prices.service %}
              <li><a href="#" >shop.prices.service.name</a></li>
              {% endfor %}
              </select>
          </div>
          
          <div class="large-3 small-6 columns"></div>

          <div class="large-3 small-12 columns expand">
            <a href="#" class="button expand">Add to Basket</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<h3 style="text-align:center"> My Laundry Basket </h3>
	<table align="center">
      <thead>
        <tr>
          <th width="200">Service</th>
          <th>Number of Items</th>
          <th>Estimated Price</th>
          <th width="275" align="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wash</td>
          <td><input type="number" placeholder="Pieces" /></td>
          <td align="center">80</td>
          <td>
          	<ul class="button-group round">
            	<li><a href="#" class="button info">Edit</a></li>
  				<li><a href="#" class="button alert">Delete</a></li>
			</ul>
          </td></tr>

      </tbody>
    </table>

    <div class="row" align="center">
    	<div class="large-2 small-12 columns expand" align="left">
            <a href="#" class="button expand">Back</a>
         </div>
         <div class="large-10 small-12" align="center">
         	<span class="info label">Total:</span><p><strong>240</strong></p>
         </div>    
	     <div class="large-12 small-2 columns expand" align="right">
    		<a href="#" class="button success">Request</a>
       	 </div>
   </div>
<!-- just remove this shizz later --> 
<a href="#" data-reveal-id="modalidhere">Click Me For A Modal</a>
<!----this is the modal... -->
<div id="modalidhere" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h4>Service Name here </h4>
  <p> price/kilo </p>
  <p> details here </p>

  <input type="number" />
  <a class="button"> OK </a> <a class="button warning"> Cancel </a>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
  
    
<!-- all in foundation.min.js
<script src="../../../LaundryBear/static/LaundryBear/js/foundation/foundation.js"></script>
<script src="../../../LaundryBear/static/LaundryBear/js/foundation/foundation.reveal.js"></script>
<script src="../../../LaundryBear/static/LaundryBear/js/foundation.min.js"></script>
<script src="../../../LaundryBear/static/LaundryBear/js/vendor/modernizr.js"></script>
<script src="../../../LaundryBear/static/LaundryBear/reveal/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="../../../LaundryBear/static/LaundryBear/reveal/jquery.reveal.js" type="text/javascript"></script>
  -->
{% endblock %}
</html>

