{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "LaundryBear/css/foundation.css"%}" />
<link rel="stylesheet" href="{% static "client/css/signupcontrol.css" %}"/>
<link rel="stylesheet" href="{% static "LaundryBear/foundation-icons/foundation-icons.css"%}" />
<title>Laundry Bear | Sign Up</title>
</head>
<body>
<div class="row">
    <div id="form" class="large-6 columns">
      <div id="insideform" class="signup-panel">
        <p class="welcome"><a href="usersignin.html"><img src="{% static "management/icons/logologin.png"%}" /></a></p>
        <form action="{%url 'client:signup'%}"method="post">
            {% csrf_token %}
        <hr>
        {{userform}}
        <hr>
        {{userprofileform}}

        <input type="submit" class="button" value="Sign Up"/>
        </form>
         <p>Already have an account? <a href="{%url 'client:login'%}">Login here </a></p>
      </div>
    </div>
   </div>
   <script src="{%static "LaundryBear/js/vendor/modernizr.js"%}"></script>
   <script src="{%static "LaundryBear/js/vendor/jquery.js"%}"></script>
   <script src="{%static "LaundryBear/js/vendor/fastclick.js"%}"></script>
   <script src="{%static "LaundryBear/js/foundation.min.js"%}"></script>
   <script src="{%static "management/js/app.js"%}"></script>
</body>
</html>
