{% extends 'client/base.html' %}   
{% load staticfiles %}

<link rel="stylesheet" href="{% static "LaundryBear/client/static/css/usersettingscontrol" %}"/>



{% block title %} Settings | LaundryBear{% endblock %}

{%block body%}
    
    <section class="contact-footer">
      <div class="row wide">
        <div class="medium-6 columns">
          <div class="row">
            <div class="small-6 medium-12 columns">
              <h4 class="name">{{ userprofile }}</h4>
              <p>{{ userprofile.location }}</p>

              <h4 class="phone">{{ userprofile.contact_number }}</h4>
            </div>
            <div class="small-6 medium-12 columns">
              <h4 class="email">Email</h4>
              <p>{{ userprofile.client.email }}</p>

              
            </div>
          </div>
        </div>
        <div class="medium-6 columns">
          <span class="info label">Fill any field below to change account information</span></br>
          <form class="round-inputs" method="post">
            {% csrf_token %}
            <div class="row">
                <ul class="accordion" data-accordion>
                 
                    <li class="accordion-navigation">
                    <a href="#panel2a">Change Address</a>
                    <div id="panel2a" class="content">
                      <div class="login-box">
                            <div class="row">
                            <div class="large-12 columns">
                               <form method="post">
                                   {% csrf_token %}
                                    <div class="row">
                                      <div class="large-12 columns">
                                        <h6>Address
                                          <span data-tooltip aria-haspopup="true" class="warning label has-tip tip-right radius round"
                                                  title="All three(3) fields must be filled if you wish to change your address">
                                              All fields must be filled</span></h6>
                                          <label>Barangay {{ userprofileform.barangay }}</label>
                                          <label>City {{ userprofileform.city }} </label>
                                          <label>Province {{ userprofileform.province }}</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="large-12 large-centered columns">
                                        <input type="submit" class="radius success button left" value="Save Changes" />
                                      </div>
                                    </div>
                                  </form>
                            </div>
                          </div>
                    </div>
                    </div>
                  </li>
                  <li class="accordion-navigation">
                    <a href="#panel3a">Edit Personal Information</a>
                    <div id="panel3a" class="content">
                     <div class="login-box">
                            <div class="row">
                            <div class="large-12 columns">
                               <form method="post">
                                   {% csrf_token %}
                                    <div class="row">
                                      <div class="large-12 columns">
                                        <h6>Name
                                          <span data-tooltip aria-haspopup="true" class="warning label has-tip tip-right radius round"
                                                  title="All two(2) fields must be filled if you wish to change your name">
                                              All fields must be filled</span></h6>
                                          <label>First Name {{ userform.first_name }}</label>
                                          <label>Last Name {{ userform.last_name }}</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="large-12 large-centered columns">
                                        <input type="submit" class="radius success button" value="Save Changes" />
                                      </div>
                                    </div>
                                  </form>
                            </div>
                          </div>
                    </div>
                    </div>
                  </li>
                  <li class="accordion-navigation">
                    <a href="#panel4a">Change Contact Number</a>
                    <div id="panel4a" class="content">
                     <div class="login-box">
                            <div class="row">
                            <div class="large-12 columns">
                               <form method="post">
                                   {% csrf_token %}
                                    <div class="row">
                                      <h6>Name
                                          <span data-tooltip aria-haspopup="true" class="warning label has-tip tip-right radius round"
                                                  title="Field must be filled if you wish to change contact your contact number">
                                              All fields must be filled</span></h6>
                                      <div class="large-12 columns">
                                        <label>Contact number {{ userprofileform.contact_number }}</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="large-12 large-centered columns">
                                        <input type="submit" class="radius success button" value="Save Changes" />
                                      </div>
                                    </div>
                                  </form>
                            </div>
                          </div>
                    </div>
                    </div>
                  </li>
                  <li class="accordion-navigation">
                    <a href="#panel5a">Change Email</a>
                    <div id="panel5a" class="content">
                     <div class="login-box">
                            <div class="row">
                              <h6>Change email
                                          <span data-tooltip aria-haspopup="true" class="warning label has-tip tip-right radius round"
                                                  title="Field must be filled if you wish to change your email">
                                              All fields must be filled</span></h6>
                            <div class="large-12 columns">
                               <form method="post">
                                   {% csrf_token %}
                                    <div class="row">
                                      <div class="large-12 columns">
                                        <label>Email {{ userform.email }}</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="large-12 large-centered columns">
                                        <input type="submit" class="radius success button" value="Save Changes" />
                                      </div>
                                    </div>
                                  </form>
                            </div>
                          </div>
                    </div>
                    </div>
                  </li>
                  <li class="accordion-navigation">
                    <a href="#panel6a">Edit Username</a>
                    <div id="panel6a" class="content">
                     <div class="login-box">
                            <div class="row">
                            <div class="large-12 columns">
                               <form method="post">
                                   {% csrf_token %}
                                    <div class="row">
                                      <h6>Edit username
                                          <span data-tooltip aria-haspopup="true" class="warning label has-tip tip-right radius round"
                                                  title="Field must be filled if you wish to change your username">
                                              All fields must be filled</span></h6>
                                      <div class="large-12 columns">
                                        <label>Username {{ userform.username }}</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="large-12 large-centered columns">
                                        <input type="submit" class="radius success button" value="Save Changes" />
                                      </div>
                                    </div>
                                  </form>
                            </div>
                          </div>
                    </div>
                    </div>
                  </li>
                  <li class="accordion-navigation">
                    <a href="#panel7a">Change Password</a>
                    <div id="panel7a" class="content">
                     <div class="login-box">
                            <div class="row">
                            <div class="large-12 columns">
                               <form method="post">
                                   {% csrf_token %}
                                    <div class="row">
                                      <h6>Change password
                                          <span data-tooltip aria-haspopup="true" class="warning label has-tip tip-right radius round"
                                                  title="All two(2) fields must be filled if you wish to change your password">
                                              All fields must be filled</span></h6>
                                      <div class="large-12 columns">
                                         <label>Password {{ userform.password1 }}</label>
                                      </div>
                                      <div class="large-12 columns">
                                        <label>Re-type Password {{ userform.password2 }}</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="large-12 large-centered columns">
                                        <input type="submit" class="radius success button" value="Save Changes" />
                                      </div>
                                    </div>
                                  </form>
                            </div>
                          </div>
                    </div>
                    </div>
                  </li>
                </ul>
             
              
            </div>
          </form>
        </div>
      </div>
    </section>


{% endblock %}