{% extends 'management/base.html' %}

{% block title %} Edit Transaction | LaundryBear {% endblock %}

{% block body %}

    <div class="row">
        <div class="large-2 columns"></div>
        <div class="large-2 large-offset-2 columns">
            <div class="panel">
                <h4 style="margin:auto">Edit Transaction</h4>

                //client
                //status
                //request_date*
                //delivery_date*
            </div>
        </div>
        <div class="large-2 columns"></div>
    </div>

{% endblock %}
