<tr>
	<td>{{transaction.client}}</td>
	<td>{{transaction.order_set.first.price.laundry_shop}}</td>
	<td>{{transaction.request_date|date:'F d, o'}}</td>
	<td>{{transaction.request_date|time:'h:i A'}}</td>
	<td>{{ transaction.price }}</td>
	<td>
		<a href="#" data-pk="{{ transaction.pk }}" data-reveal-id="set-price-modal{{ transaction.pk }}"
		   class="button secondary tiny set-price-button">Set Actual Price</a>
		<div id="set-price-modal{{ transaction.pk }}" aria-hidden="true" class="reveal-modal" data-reveal role="dialog" aria-labelledby="actualPriceModalTitle" style="width: 335px;">
			<h3 id="actualPriceModalTitle">Set Price</h3>
			<form method="post">
				{% csrf_token %}
				Price:
				{{ form.price }}
				<span class="right"><button value="Save" type="submit">Save</button></span>
			</form>
		</div>

		<a href="#" data-pk="{{ transaction.pk }}" data-done-url="{% url "management:mark-transaction-done" transaction.pk %}" data-reveal-id="done-modal{{ transaction.pk }}"
		class="button secondary tiny done-button">Done</a>

		<div id="done-modal{{ transaction.pk }}" class="reveal-modal" data-reveal
			 aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<p style="text-align:center;">Transaction Saved as done</p>
		</div>

	</td>
</tr>
