{%extends 'management/addlaundryshop.html'%}
{% load staticfiles %}
<form method="post">
      <div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="width: 760px">
        <h2 id="modalTitle">Add New Service...</h2>
        Service Name: <input type="text" id="sname" style="width: 700px">
        Description:  <textarea type="text" id="desc" style="width: 700px" cols="10"></textarea> 
        <button type="submit" class="button small" id="add-new-service-button">Save</button>
        <a id="new-service-modal-close-reveal" class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
</form>