{% load staticfiles %}
<tr>
  <td data-reveal-id="shopmodal{{ shop.pk }}">
    {{ shop.name }}
    <div id="shopmodal{{ shop.pk }}" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <table style="margin:auto">
        <thead>
          <tr>
            <th width="200">Name</th>
            <th width="500">Address</th>
            <th width="150">Contact Information</th>
            <th>Rating</th>
            <th width="200">Operating Days</th>
            <th width="150">Hours</th>
            <th width="200">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ shop.name }}</td>
            <td>{{ shop.location }}</td>
            <td>{{ shop.contact_number }}</td>
            <td><div class="paw-container" style="width: {% widthratio shop.average_rating 5 150 %}px;"><img src="{% static "management/icons/star.png" %}" /></div></td>
            <td>{{ shop.days_open }}</td>
            <td>{{ shop.hours_open }}</td>
            <td>{{ shop.email }}</td>
        </tbody>
      </table>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </td>
  <td>{{ shop.location }}</td>
  <td><div class="paw-container" style="width: {% widthratio shop.average_rating 5 150 %}px;"><img src="{% static "management/icons/star.png" %}" /></div></td>
  <td>
    <a href="{% url "management:edit-shop" shop.pk %}" class="button secondary tiny">Edit</a>
    <button data-reveal-id="delete-modal{{ shop.pk }}" class="button secondary tiny">Delete</button>
    <div id="delete-modal{{ shop.pk }}" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 style="text-align:center;">Are you sure?</h3>
    <form method="post" action="{%url 'management:delete-shop' shop.pk%}">
      {%csrf_token%}
      <button type="submit" style="margin-left:38%; "class="button small">Yes</button>
    </form>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </td>
</tr>
