@charset "utf-8";
/* CSS Document */
.services{
    margin-top: 50px;
  }
   h2{
      text-align: center;
    }
    form.custom .custom.dropdown{
      height: 45px;
    }
    label{
      margin-bottom: 10px;
    }
    form.custom .custom.dropdown{
      padding-top: 5px;
    }
    form.custom .custom.dropdown .selector{
      top: 5px;
    }
    .button{
      height: 45px;
      margin-top:25px; 
    }
    body{
        background: url("/static/client/icons/header3.jpg") no-repeat center;

    }

  #buttons{
    position:absolute;
     z-index:15;
     left: 33%;
     margin: 0 500px 0 -200px;  
  }

