{% load staticfiles  %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}LaundryBear{% endblock %}</title>
    <link rel="stylesheet" href="{% static "LaundryBear/css/foundation.min.css" %}"/>
    <link rel="stylesheet" href="{% static "management/css/app.css" %}"/>
    <link rel="stylesheet" href="{% static "management/stylesheets/control.css" %}"/>
    {%block stylesheets%} {% endblock %}
  </head>
  <body>
    <div id="header">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">

        <li class="name">
          <h1>
            <a href="Laundry Bear.html">
              <img id="logo" src="../../../static/management/icons/headlogo.png"/>
              <img id="writtenlogo" src="../../../static/management/icons/written2.png" />
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Manage Shops</a>
            <ul class="dropdown">
              <li><a href="{% url "management:add-shop"%}">Add Shop</a></li>
              <li class="divider"></li>
              <li><a href="{% url "management:viewall"%}">See all →</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="#">View Accounts</a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Administrator</a>
            <ul class="dropdown">
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out →</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    </div>

    <div id="body">
      {%block body%}{%endblock%}
    </div>

    <div id="footer">
      {%block footer%}{%endblock%}
        <hr>
        <div class="large-12 columns">
                <p>Laundry Bear 2015</p>
            <!--<div class="large-6 small-12 columns">
                <ul class="inline-list right">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                </ul>
            </div>-->
      </div>
    </div>


    <script src="{%static "LaundryBear/js/vendor/modernizr.js"%}"></script>
    <script src="{%static "LaundryBear/js/vendor/jquery.js"%}"></script>
    <script src="{%static "LaundryBear/js/vendor/fastclick.js"%}"></script>
    <script src="{%static "LaundryBear/js/foundation.min.js"%}"></script>
    <script src="{%static "management/js/app.js"%}"></script>
    {%block javascripts%} {% endblock %}
  </body>
</html>
