<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><!--{% block title %}Laundry{% endblock %}--></title>
    <!--change this later to django template tags-->
    <link rel="stylesheet" href="../static/foundation-5.5.3/css/foundation.css"/>
    <!--{%block stylesheets%} {% endblock %}-->
  </head>
  <body>
    <!--{%block content%} {% endblock %}-->

    <script src="../static/foundation-5.5.3/js/foundation.min.js"/>
    <!-- {%block javascripts%} {% endblock %} -->
  </body>
</html>
