<!DOCTYPE html>
<!--{% laundryshops extends base.html %}-->
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!--change this later to django template tags-->
    <link rel="stylesheet" href="../static/foundation-5.5.3.custom/css/foundation.css"/>
    <link rel="stylesheet" href="../static/stylesheets/app.css"/>
  </head>
  <body>
<div id="header">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Laundry Bear</a></h1>
        </li>
      </ul>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Admin</a>
            <ul class="dropdown">
              <li><a href="#">Profile</a></li>
              <li class="active"><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
</div>

<div id="body">
      <table>
      <thead>
        <tr>
          <th width="200">Name</th>
          <th>Province</th>
          <th width="150">City</th>
          <th width="150">Barangay</th>
          <th width="150">Street</th>
          <th width="150">Building</th>
          <th width="150">Contact number</th>
          <th width="150">Email</th>
          <th width="150">Website</th>
          <th width="150">Hours Open</th>
          <th width="150">Days Open</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Kosh Kosh</td>
          <td>Cebu</td>
          <td>Cebu</td>
          <td>Lahug</td>
          <td>Gorordo</td>
          <td>Gori Building</td>
          <td>09425640954</td>
          <td>laundry@koshkosh.com.ph</td>
          <td>koshkosh.com</td>
          <td>9AM</td>
          <td>8PM</td>
        </tr>
      </tbody>
    </table>
</div>
<div id="footer">
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active"><a href="#">All</a></dd>
      <dd><a href="#">Active</a></dd>
      <dd><a href="#">Pending</a></dd>
      <dd class="hide-for-small-only"><a href="#">Suspended</a></dd>
    </dl>


    <div class="icon-bar four-up">
    <a class="item">

    <label>Add Laundry Shop</label>
    </a>
    <a class="item">
    <label>Edit Laundry Shop</label>
    </a>
    <a class="item">
    <label>Delete Laundry Shop</label>
    </a>
    <a class="item">
    <label>Update Laundry Shop</label>
    </a>
    </div>
</div>


  <script src="../static/foundation-5.5.3/js/foundation.min.js"/>
  </body>
  <footer class="foot">

  </footer>
</html>
