{% load staticfiles  %}
<link rel="stylesheet" href="{% static "LaundryBear/css/foundation.min.css" %}"/>
<form method="post">
	{%csrf_token%}
	<h2 id="modalTitle">Add New Service</h2>
	<div>
		<span id="required" class="warning label">Required field</span>
		<p>Service Name:</p> {{form.name}} <br>
		{{ form.name.errors }}
	</div>
	<div>
		<span id="required" class="warning label">Required field</span>
		<p>Description:</p>  {{form.description}} <br><br>
		{{ form.description.errors }}
	</div>
	<button type="submit" class="button small" class="close-reveal-modal" aria-label="Close" id="add-new-service-button">Save</button>
</form>
