<form method="post">
    {%csrf_token%}
    <div class="row">
      <div class="large-8 columns">
        <label>Service Name:
          <button id="selected" href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
          <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
            {%for service in service_list%}
            <option value="{{ service.name }}">{{ service.name }}</option>
            {% endfor %}
          </ul>

        </label>
      </div>
    </div>

    <div class="row">
      <div class="large-8 columns">
        <label>Price:
          <input type="text"/>
        </label>
      </div>
    </div>

    <button type="submit" class="button">Save</button>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</form>
